button {
    border: none;
    background-color: rgb(170, 161, 161);
    font-size: 24px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(145, 132, 132);
  }

  .equals {
    grid-column: 3 / 5;
    background-color: rgb(64, 168, 64);
  }
  
  .equals:hover {
    background-color: rgb(56, 149, 56);
  }

  .cancel {
    background-color: orangered;
  }

  .cancel:hover {
    background-color: rgb(186, 74, 33);
  }