.layout {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 30px;
    background-color: #021225;
    /* background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
  }

@media (max-width: 320px) {
  .layout{
    width: 280px;
    height: 520px;
  }
}